# Project directories
media/
staticfiles/
logs/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*,cover
.hypothesis/

# Sphinx documentation
docs/_build/

# pyenv
.python-version

# dotenv
.env

# virtualenv
.venv
venv/
ENV/

# Database/fixture dumps
*.pgdump
*.dump
*.db
*.sqlite3

# Vim swap files
[._]*.s[a-w][a-z]
[._]s[a-w][a-z]
